[Unit]
Description=prefect server

[Service]
User=akarsh
Group=akarsh
Type=simple
WorkingDirectory=/home/akarsh/can-scrapers
ExecStart=/home/akarsh/miniconda/envs/prefect-can-scrapers/bin/prefect server start --ui-port 8432 --use-volume
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
